USE [YourDBName]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AzerbaijaniTurkish](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Azerice] [nvarchar](50) NOT NULL,
	[Turkce] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_azerice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AzerbaijaniTurkish] ON 

INSERT [dbo].[AzerbaijaniTurkish] ([Id], [Azerice], [Turkce]) VALUES (3, N'abadlıq', N'abatlık,imar')
INSERT [dbo].[AzerbaijaniTurkish] ([Id], [Azerice], [Turkce]) VALUES (4, N'abajur', N'abajur')
INSERT [dbo].[AzerbaijaniTurkish] ([Id], [Azerice], [Turkce]) VALUES (5, N'abartmaq', N'abartmak')
GO
SET IDENTITY_INSERT [dbo].[AzerbaijaniTurkish] OFF
GO
