USE [YourDBName]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FrenchTurkish](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fransizca] [nvarchar](100) NULL,
	[Turkce] [nvarchar](150) NULL,
 CONSTRAINT [PK_fransizca_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FrenchTurkish] ON 

INSERT [dbo].[FrenchTurkish] ([Id], [Fransizca], [Turkce]) VALUES (1, N'tournant', N'kırılma, dönüm noktası')
INSERT [dbo].[FrenchTurkish] ([Id], [Fransizca], [Turkce]) VALUES (2, N'se libérer ', N'özgürleşmek')
INSERT [dbo].[FrenchTurkish] ([Id], [Fransizca], [Turkce]) VALUES (3, N's’épanouir', N'serpilmek, büyümek, gelişmek')
GO
SET IDENTITY_INSERT [dbo].[FrenchTurkish] OFF
GO
