USE [YourDBName]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItalianTurkish](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Italyanca] [nvarchar](100) NULL,
	[Turkce] [nvarchar](300) NULL,
 CONSTRAINT [PK_italyanca] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ItalianTurkish] ON 

INSERT [dbo].[ItalianTurkish] ([Id], [Italyanca], [Turkce]) VALUES (1, N'abate,', N'başrahip.')
INSERT [dbo].[ItalianTurkish] ([Id], [Italyanca], [Turkce]) VALUES (2, N'abbacare,', N'hesaplamak.')
INSERT [dbo].[ItalianTurkish] ([Id], [Italyanca], [Turkce]) VALUES (3, N'abbagliare,', N'gözünü kamaştırmak.')
GO
SET IDENTITY_INSERT [dbo].[ItalianTurkish] OFF
GO
