USE [YourDBName]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpanishTurkish](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ispanyolca] [nvarchar](100) NULL,
	[Turkce] [nvarchar](100) NULL,
 CONSTRAINT [PK_ispanyolcasi_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SpanishTurkish] ON 

INSERT [dbo].[SpanishTurkish] ([Id], [Ispanyolca], [Turkce]) VALUES (1, N'abajo', N'Aşağı, Aşağıya')
INSERT [dbo].[SpanishTurkish] ([Id], [Ispanyolca], [Turkce]) VALUES (2, N'abandonar', N'ayrılmak')
INSERT [dbo].[SpanishTurkish] ([Id], [Ispanyolca], [Turkce]) VALUES (3, N'abrir', N'açmak')
GO
SET IDENTITY_INSERT [dbo].[SpanishTurkish] OFF
GO
